<!-- HERO SECTION WITH IMAGE AND CONTENT SIDE BY SIDE -->
<section id="hero" class="hero-container">
  <div class="hero-image">
    <img src="images\DSC_2237 copy.JPG" alt="Hero Image" />
  </div>
  <div class="hero-content">
    <h1>Welcome to Satnam Trust</h1>
    <h2>Mission to Complete Freedom</h2>
    <p> सतनाम ट्रस्ट सतनामी समाज पूर्ण रूप से आर्थिक आजादी </p>
    <p>
      <span class="span-text">शिक्षा </span> &nbsp;
      <span class="span-text">स्वास्थ </span> &nbsp;
      <span class="span-text">रोजगार</span>
    </p>
    <button [routerLink]="['/registration']">Register Now</button>
  </div>
</section>

<!-- MISSION SECTION -->
<section class="mission-section mat-elevation-z2">
  <h2>Satnam Trust Mission</h2>
</section>

<div class="features-container">
  <mat-card class="feature-card">
    <mat-icon>school</mat-icon>
    <h2>स्कूल</h2>
    <h3>सभी के लिए गुणवत्तापूर्ण शिक्षा</h3>

  </mat-card>

  <mat-card class="feature-card">
    <mat-icon>school</mat-icon>
    <h2>कॉलेज</h2>
    <h3>उज्ज्वल भविष्य के लिए छात्रों को सशक्त बनाना</h3>
  </mat-card>

  <mat-card class="feature-card">

    <mat-icon>local_hospital</mat-icon>
    <h2>हॉस्पिटल</h2>
    <h3>सभी के लिए गुणवत्तापूर्ण स्वास्थ्य सेवा</h3>
  </mat-card>
</div>



