<!-- FOOTER SECTION -->
<footer id="contact" class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>
        Satnam Trust is a non-profit organization working towards complete
        freedom through various social initiatives.
      </p>
      <div class="social-icons">
        <a
          href="https://www.facebook.com/profile.php?id=61578744915485"
          target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://x.com/SatnamTrus01" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/satnam_trust_01/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/kamalkant-koshle-3a3865251"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://guruvanshaj.com" target="_blank"
          ><i class="fas fa-globe"></i
        ></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/membership']">Membership</a>
      <a [routerLink]="['/weBuild']">We Build</a>
      <a [routerLink]="['/aboutDetail']">About Us</a>
      <a [routerLink]="['/contactDetail']">Contact Us</a>
    </div>

    <div class="footer-section">
      <h3>Contact Info</h3>
      <p><i class="fas fa-map-marker-alt"></i> Satnam Trust Bhandarpuri, Arang, Raipur</p>
      <p><i class="fas fa-envelope"></i> {{ email }}</p>
    </div>
  </div>

  <div class="copyright">
    <p>&copy; 2025 Satnam Trust. All Rights Reserved.</p>
  </div>
</footer>
