<section class="projects-intro">
  <h2>हमारी निर्माण परियोजनाएँ</h2>
  <p>
    सतनाम ट्रस्ट में, हम केवल संरचनाओं के निर्माण से कहीं अधिक में विश्वास करते हैं - हम
ज़रूरतमंदो के लिए आशा, अवसर और स्थायी भविष्य का निर्माण करते हैं।
  </p>
</section>

<div class="projects-grid">

  <div
    class="project-card"
    onclick="window.location.href='project-water-systems.html'"
  >
    <a href="project-water-systems.html">
      <div class="project-image">
        <img
          src="images\school.jpeg"
          alt="Water Project"
        />
      </div>
      <div class="project-info">
         <span class="project-status status-upcoming">Upcoming</span>
        <h3>Hitech School</h3>
        <p>
         "Our school provides key academic streams including Science, Commerce, and Mathematics, allowing students to pursue their interests from the senior secondary stage."
        </p>
      </div>
    </a>
  </div>

  <div
    class="project-card"
    onclick="window.location.href='project-community-centers.html'"
  >
    <a href="project-community-centers.html">
      <div class="project-image">
        <img
          src="images\college 1.jpg"
          alt="Community Center Project"
        />
      </div>
      <div class="project-info">
        <span class="project-status status-upcoming">Upcoming</span>
        <h3>College</h3>
        <p>
        "Our college provides a diverse range of major academic streams, including Science, Commerce, and Mathematics, to cater to students' varied interests and career goals."
        </p>
      </div>
    </a>
  </div>

  <div
    class="project-card"
    onclick="window.location.href='project-solar-energy.html'"
  >
    <a href="project-solar-energy.html">
      <div class="project-image">
        <img
          src="images\hospital.jpeg"
          alt="Green Energy Project"
        />
      </div>
      <div class="project-info">
        <span class="project-status status-upcoming">Upcoming</span>
        <h3>Hospital</h3>
        <p>
          "Our hospital provides a wide range of medical specialties, including General Medicine, Surgery, Pediatrics, and Gynecology, to ensure comprehensive patient care."
        </p>
      </div>
    </a>
  </div>
</div>




<section class="cta-section">
  <h2>Want to Support Our Building Projects?</h2>
  <p>
    Your contribution can help us construct more facilities that transform
    lives.
  </p>
  <button class="cta-btn">Donate Now</button>
</section>
